<footer class="bg-dark text-white text-center py-4 sticky-bottom">
    <div class="mb-3">
      <a href="https://facebook.com" target="_blank" class="text-white mx-2" aria-label="Facebook">
        <i class="bi bi-facebook fs-4"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="text-white mx-2" aria-label="Twitter">
        <i class="bi bi-twitter fs-4"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="text-white mx-2" aria-label="LinkedIn">
        <i class="bi bi-linkedin fs-4"></i>
      </a>
      <a href="https://github.com" target="_blank" class="text-white mx-2" aria-label="GitHub">
        <i class="bi bi-github fs-4"></i>
      </a>
    </div>
    <div>
      <small>&copy; {{ currentYear }} Fouling Books Explorer. All rights reserved.</small>
    </div>
  </footer>
  