/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .card {
    height: 100%;
    border-radius: 0.5rem;
  }
  
  .container-fluid {
    padding: 1rem;
  }